[files]
prefix = mypf_

[coinbase]
key = COINBASE_API_KEY
secret = COINBASE_API_SECRET

[coinbase-pro]
passphrase = COINBASE_PRO_API_PASSPHRASE
key = COINBASE_PRO_API_KEY
secret = COINBASE_PRO_API_SECRET
